---
import Mail from "./icons/Mail.astro";
import Phone from "./icons/Phone.astro";
import Ubication from "./icons/Ubication.astro";
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<header
  class="bg-blue-800 z-10 flex items-center justify-center h-24 w-full mx-100 mb-20"
>
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center space-x-4">
      <Image
        src={logo}
        alt="Logo de PLENAMente"
        width={80}
        height={80}
        quality={"high"}
        loading="lazy"
      />
      <h1 class="text-white font-light text-3xl tracking-wide">PLENA-Mente</h1>
    </div>
    <nav class="flex space-x-8">
      <div class="flex items-center space-x-2">
        <Ubication class="text-white size-8" />
        <div>
          <h2 class="text-white text-lg font-medium">Ubicación:</h2>
          <h3 class="text-white">Huayna Capac 713 Urb. Santa Maria</h3>
        </div>
      </div>
      <div class="w-px h-15 bg-white mx-4"></div>
      <div class="flex items-center space-x-2">
        <Mail class="text-white size-8" />
        <div>
          <h2 class="text-white text-lg font-medium">Correo:</h2>
          <h3 class="text-white">plenamentetrujillo@gmail.com</h3>
        </div>
      </div>
      <div class="w-px h-15 bg-white mx-4"></div>
      <div class="flex items-center space-x-2">
        <Phone class="text-white size-8" />
        <div>
          <h2 class="text-white text-lg font-medium">Teléfono:</h2>
          <h3 class="text-white">+51 937 562 487</h3>
        </div>
      </div>
    </nav>
  </div>
</header>
