---
import { Image } from "astro:assets";
import solution from "../assets/solution.jpg";
import director from "../assets/director.png";
---

<div class="flex flex-col md:flex-row items-center w-full max-w-7xl mb-20">
  <Image
    src={solution}
    alt="Call to action"
    quality={"high"}
    loading="eager"
    class="w-full md:w-2/5 rounded-3xl shadow-lg mb-6 md:mb-0"
  />
  <aside class="text-center md:text-left md:ml-12">
    <h2 class="text-cyan-400 font-bold text-lg sm:text-xl">
      Psicología Lenguaje y Neuroaprendizaje
    </h2>
    <h1 class="text-4xl sm:text-5xl lg:Text-6xl font-semibold text-gray-900 mt-4 md:mt-0">
      Te ayudamos a crecer y prosperar
    </h1>
    <p class="text-gray-500 mt-4 text-base sm:text-lg">
      Ofrecemos terapias integrales y asesoría con orientación familiar para
      apoyarte en cada paso del camino.
    </p>
    <div class="flex flex-col md:flex-row items-center mt-6">
      <Image
        src={director}
        alt="Call to action"
        quality={"high"}
        loading="eager"
        class="w-24 h-24 md:w-28 md:h-28 rounded-full border-2 border-blue-800 shadow-lg"
      />
      <div class="flex flex-col ml-4 text-center md:text-left mt-4 md:mt-0">
        <h3 class="font-medium text-lg sm:text-xl">
          Mg. Milagros del Carmen <br /> Becerra Velazco
        </h3>
        <h4 class="text-gray-500 text-sm sm:text-base">Directora</h4>
      </div>
    </div>
  </aside>
</div>
