---
import "@fontsource/poppins";
import Header from "../components/Header.astro";
import CalltoAction from "../components/CalltoAction.astro";
import Solution from "../components/Solution.astro";
import Ubicanos from "../components/Ubicanos.astro";
import Footer from "../components/Footer.astro";
import Interventions from "../components/Interventions.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title></head
  >
  <body class="flex flex-col items-center justify-center">
    <Header />

    <CalltoAction />
    <Solution />
    <Interventions />
    <Ubicanos />
    <Footer />

    <slot />
    <style is:global>
      html {
        scroll-behavior: smooth;
      }

      body {
        display: flex;
        flex-direction: column;
      }
    </style>
  </body>
</html>
